*{
	margin:0px;
	padding:0px;
}

#wrapper{
	background-color: #D5D9CA;
	margin:0px auto;
	width: 970px;
	padding:20px;
}

#header{
	background-color: #30A29D;
	/*display: inline-block;*/
	padding: 15px;

}

#header img{
	height:50px;

}

#header h1 {
	display: inline-block;
	/*vertical-align: middle;*/
}

#navigation{
	display: inline-block;
	/*float: right;*/
	/*vertical-align: middle;*/
	position: relative;
	left:120px;
	bottom:10px;

}
#navigation a{
	margin-left:10px;
	color: white;
}
#main-content{
	background-color: #F9E37E;
	padding: 15px;
	color: #D4D7C8;
}


#intro{
	background-color: #123133;
	padding:15px;
	display:inline-block;
	vertical-align: top;
	width: 200px;
	height: 534px;
	margin-right: 40px;
}
#commands{
	display:inline-block;
	vertical-align: top;
	text-align: justify;
	width: 600px;
}

#commands div {
	background-color: #123133;
	display: inline-block;
	padding:15px;
	vertical-align: top;
	margin-bottom: 30px;

}
.c1{
	width: 140px;
	height: 160px;
}
.c2{
	width: 230px;
	height: 120px;
}
#footer{
	background-color: #30A29D;
	padding: 20px;
	text-align: center;
}
p {
	padding: 5px;
}
span {
	color: #3FCBB7;
}